<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SeteEduca</title>
    <link rel="stylesheet" href="inicial.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

</head>
<style>
      
body{
    background-color: #fff4df;
}

img {
    margin: 0;
    position: absolute;
    top: 45%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
    
 }

 #sete{

    margin: 0;
    position: absolute;
    top: 70%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
    
    
 }

 button{
background-color: rgb(255, 255, 255);
    margin: 0;
    position: absolute;
    top: 92%;
    left: 91%;
    margin-right: -50%;
    transform: translate(1000%, -50%);
    width: 100px;
    height: 35px;
 

    
 }
 
 
#seta {
    position: fixed; 
    top: 93.8%; 
    left: 95%;
     margin-right: -50%; 


}

</style>
<body>
    
   <img  src="/imagem/logo2.png" alt="Logo seteeduca" height="300px" width="300px" >

   <img id="sete" src="/imagem/seteeduca.png" alt="seteeduca" height="400px" width="700px" >

   <a href="/login"> <button style="border-radius: 30px; transform: scale(1.05)
  "> </button><img id="seta" src="/imagem/seta.svg" alt="">  </a>





</body>
</html>